@model IEnumerable<Product>

<h1>Search Products</h1>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Addproduct">
    <div class="btn btn-primary">Add Product</div>
</a>
<br />
@using (Html.BeginForm())
{
    <div class="container">
        <!-- ListView -->
    <input list="categories" name="categoryValue" class="col-sm-6 custom-select custom-select-sm">
        <datalist id="categories">
            @foreach (var prod in Model)
            {
                <option value="@prod.Category.CategoryName">@prod.Category.CategoryName</option>
            }
        </datalist>
        <!-- Search -->
    <input placeholder="Search for Product.." name="searchProduct" />
        <button class="btn btn-info" type="submit">Search</button>
    </div>
}
<div class="container">
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@item.ProductName</h3>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="white-box text-center">
                                <img src="@item.ProductImages" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6">
                            <h3>Seller: <a asp-action="ProfileWithId" asp-controller="User" asp-route-id="@item.SellerId">@item.Seller.Name</a></h3>
                            <h3>Category: <small>@item.Category.CategoryName</small></h3>
                            <h3>Quantity: <small>@item.ProductQuantity</small></h3>
                            <h3>Date: <small>@item.ProductAddedDate</small></h3>
                            <h3>IsUsed: <small>@(item.IsUsed?"Yes":"No")</small></h3>
                            <h3>Product Warranty: <small>@(item.ProductWarranty?"Yes":"No")</small></h3>
                            <h3 class="box-title mt-2">Product description</h3>
                            <p>@item.ProductDescription</p>
                            <h3 class="mt-5">@item.ProductPrice $</h3>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-rounded">Buy Now</button>
                                <a href="/Product/ShowProductDetails/@item.Id" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>