@model IEnumerable<Ecommerce_Software_Project.Models.Product>

<h1>Get MY Products</h1>

<div class="container">

    @foreach (var item in Model)
    {
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@item.ProductName</h3>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="white-box text-center">
                                <img src="@item.ProductImages" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6">
                            <h3>Category: <small>@item.Category.CategoryName</small></h3>
                            <h3>Quantity: <small>@item.ProductQuantity</small></h3>
                            <h3>Date: <small>@item.ProductAddedDate</small></h3>
                            <h3>IsUsed: <small>@(item.IsUsed?"Yes":"No")</small></h3>
                            <h3>Product Warranty: <small>@(item.ProductWarranty?"Yes":"No")</small></h3>
                            <h3 class="box-title mt-2">Product description</h3>
                            <p>@item.ProductDescription</p>
                            <h3 class="mt-5">@item.ProductPrice $</h3>
                            <button class="btn btn-primary btn-rounded">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>